p {
  color: brown;
}
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #422C01;
  }
  body {
    width: 850px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0 20px 20px 20px;
    border: 20px solid black;
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: brown;
    text-shadow: 4px 4px 3px black;
  }
  h2, h3 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: brown
  }
  h4 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: brown
  }
  li {
  color: brown
  }
  img {
    display: block;
    margin: 0 auto;
  }