body {
  background-color: #FFFFFF;
  border: 20px solid black;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  width: 850px;
}

h1 {
  color: brown;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 4px 4px 3px black;
}

h2,
h3 {
  color: brown;
  font-size: 30px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: brown
}

html {
  background-color: #422C01;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  color: brown
}

li,
p {
font-size: 16px;
letter-spacing: 1px;
line-height: 2;
}


p {
  color: brown;
}









